.floatingWindow {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.751);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
