.cart .prodctImg {
  width: 150px;
  height: 150px;
}

.cart .prodctImg img {
  height: 150px;
  object-fit: contain;
}
.cart .quantity {
  width: 15%;
}
.cart .quantity a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f5f5;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
